<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework" level="debug"/>
    <logger name="org.hibernate " level="info"/>
    <logger name="com.theopus" level="INFO"/>
    <logger name="org.theopus" level="INFO"/>
</configuration>